*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-weight: bold;*/
}
.main {
    color: white;
    background-image: url("../images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*height:100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.first {
    margin-top: 19%;
}

.second {
    margin-top: 8%;
    margin-bottom: 1%;
}

h1 {
    margin-top: 2%;
    font-size: 50px;
}

.about {
    font-weight: bold;
    text-align: center;
}

.service {
    height: 400px;
    background-image: url("../images/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
    font-weight: bold
}

.service>div {
    position: relative;
    top: 30%;
}

